# Configurações do Banco de Dados
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/voltly
SPRING_DATASOURCE_USERNAME=voltly_user
SPRING_DATASOURCE_PASSWORD=voltly_password

# Configurações da Aplicação
SPRING_PROFILES_ACTIVE=docker
SERVER_PORT=8080

# Configurações de Segurança
SECURITY_JWT_SECRET=my.super.secret.jwt.passphrase.for.docker

# Configurações do Flyway
SPRING_FLYWAY_BASELINE_ON_MIGRATE=true

# Configurações do Hibernate
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=false

# Configurações do HikariCP
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=5
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=2

# Configurações do PostgreSQL
POSTGRES_DB=voltly
POSTGRES_USER=voltly_user
POSTGRES_PASSWORD=voltly_password
